rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'admin@belleru.com';
    }

    match /{allPaths=**} {
      allow read: if true;
    }

    match /products/{fileName} {
      allow write: if isAdmin()
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /categories/{fileName} {
      allow write: if isAdmin()
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /banners/{fileName} {
      allow write: if isAdmin()
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
